.outcoming {
  background-color: rgb(170, 186, 216);
}
.incoming {
  background-color: rgb(63, 192, 85);
}
.outcoming, .incoming {
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
}
.delete, .transfer {
  border-radius: 50%;
  color: #fff;
  width: 25px;
  text-align: center;
  cursor: pointer;
}
.delete {
  background-color: rgb(194, 70, 70);
  margin-bottom: 5px;
}
.transfer {
    background-color: rgb(175, 165, 114);
  }